/*
Aufgabe: Aufgabe 2
Name: Alea Flesch
Matrikel: 259109
Datum: 26.10.2018
Hiermit versichere ich, dass ich diesen Code selbst in Zusammenarbeit mit Theresa Gut &
mit Unterstützung von Lukas und Anna geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

#Ablagestapel{
	background-color: black;
	width:116px;
	height:185px;
	border:solid thin black;
	border-radius:25px;
	position: absolute;
	right:400px;
	top:40px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color:#FFD700;
 
	
}
#Nachziehstapel{
	background-color: black;
	width:116px;
	height:185px;
	border:solid thin black;
	border-radius:25px;
	position: absolute;
	left:400px;
	top:40px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color:#FFD700;
 
	
}

#Handkarten {
	width: 100%;
	border-style: none;
	height: 185px;
	bottom: 80px;
	left: 60px;
	right: 20px;
	position: absolute;
	
}

.newBox {
	display: inline-block;
	margin: 10px;
	border: solid thin black;
	
	
	}

.Red{
	background-color: #f73429;
	width:116px;
	height:185px;
	outline: solid thin black;
	border:solid thick white;
	top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 3px 2px black;
	font-size: 30pt;
	text-align: center;
	color:white;
	border-radius:5px;
	box-sizing:border-box;
	margin-left: 20px;
	margin-right: 20px;
	
	
	}

.Blue{
	background-color: #2c57d2;
	width:116px;
	height:185px;
	outline: solid thin black;
	border:solid thick white;
	top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 3px 2px black;
	font-size: 30pt;
	text-align: center;
	color:white;
	border-radius:5px;
	box-sizing:border-box;
	margin-left: 20px;
	margin-right: 20px;
	
}

.Green{
	background-color: #008a4e;
	width:116px;
	height:185px;
	outline: solid thin black;
	border:solid thick white;
	top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 3px 2px black;
	font-size: 30pt;
	text-align: center;
	color:white;
	border-radius:5px;
	box-sizing:border-box;
	margin-left: 20px;
	margin-right: 20px;
	

	}
	
	
.Yellow{	
	background-color: #ffe300;
	width:116px;
	height:185px;
	outline: solid thin black;
	border:solid thick white;
	top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 3px 2px black;
	font-size: 30pt;
	text-align: center;
	color:white;
	border-radius:5px;
	box-sizing:border-box;
	margin-left: 20px;
	margin-right: 20px;
	}

.Black{
	background-color: black;
	width:116px;
	height:185px;
	outline: solid thin black;
	border:solid thick white;
	top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 3px 2px black;
	font-size: 30pt;
	text-align: center;
	color:white;
	border-radius:5px;
	margin-left: 20px;
	margin-right: 20px;
	box-sizing:border-box;
	}
}
